*{
    padding:0;
    margin:o;
    box-sizing: 0;
}
h1{
    width: 69px;
    height: 26px;
    margin-left: 50px;
}
li{
    margin-left: 5px;
    margin-top:1rem ;
}
 
    .box{
        width: 246px;
        height: 246px;
        background: #C4C4C4;
        border-radius: 50%;
        margin: 50px;     
    }
.button1{
    margin-right:1rem;
}


    
        
    

      
       
    
   
    
    

